# Dependencies
node_modules/

# Playwright artifacts
playwright-report/
blob-report/
html-report/
quartet-report/
results/
test-results/
videos/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
